.h1, h1 {
  font-size: 2.5rem;
  text-align: center;
}


.bg-light{
  background-color: #cbd4dc!important;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  color: black;
}


.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  background-color: #007BFF;
  border: #007BFF;
}

.cartView{
  /* height: 100%;
  width: 100%; */
  /* position: fixed; */
  background-color: rgb(220 204 208 / 99%)!important;
  min-height: 100%
}
