
<div class="productBackground">
  <nav class="navbar navbar-expand-sm bg-light">
    <button type="button" (click)="viewCart()" class="btn btn-light btn-md mr-1 mb-2 product">
      <i class="fas fa-shopping-cart pr-2" ></i>View Cart {{serviceCall.logIn.cart.length}}
    </button>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <button type="button" (click)="logOut()" class="btn btn-light btn-md mr-1 mb-2 product">Log Out</button>
        </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-4" *ngFor="let product of productsCollection">
        <div class="card">
          <img class="card-img-middle image" (click)="viewDetails(product.id)" data-toggle="modal" data-target="#exampleModal" [src]="product.image"
            alt="Card image" >
          <div class="card-body">
            <h4 class="card-title">{{product.title}}</h4>
            <button class="btn btn-primary" (click)="viewDetails(product.id)">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


